p {
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  opacity: 80%;
}
.aboutus {
  margin: 20px 0;
}
h6 {
  color: #0a75be;
  font-size: 18px;
  padding: 10px;
  font-weight: 600;
}
@media screen and (max-width: 420px) {
  h2 {
    font-size: 28px;
    padding: 10px 0 0;
  }
}
