<div class="aboutus" id="about" style="border: 1px solid #979797;">
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <img src="../../../assets/images/team-work.png" width="100%" />
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="row justify-content-center">
        <div class="col-10 col-sm-11 col-xs-12">
          <h2 style="text-align: center;color:#0a75be;padding: 10px;">
            WHO WE ARE
          </h2>
          <p>
            We are a team that provide high quality and cost effective Software
            Product Development Services based on open-source technologies,
            tailored to your unique business needs.
          </p>
          <p>
            We analyze it, identify possible risks and come up with the most
            reasonable solution by offering an optimal technology stack. We
            develop a minimum viable product (MVP) in a short period of time,
            help you launch it and provide timely support. Our job is to turn
            your idea into reality and become your long-term reliable business
            partner.
          </p>
          <h6>
            MORE ABOUT US<span style="margin-left: 10px;"
              ><img src="../../../assets/icons/right-arrow.svg"
            /></span>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <img src="../../../assets/icons/rectangle.svg" width="100%" height="4px" />
  </div>
</div>
