<div class="footer">
  <div class="row justify-content-around">
    <div class="col-lg-3 col-md-3 col-sm-10 col-xs-12">
      <h5>
        Chintakindi Technologies<br />
        Pvt Ltd.
      </h5>
      <p>#206, Manjeera Trinity Corporate, Kukatpally, Hyderabad.</p>
      <p>
        <span><img src="../../../assets/icons/telephone.svg"/></span>+91 80081
        37434
      </p>
      <p>
        <span><img src="../../../assets/icons/envelope.svg"/></span
        >support@chintec.com
      </p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-10 col-xs-12">
      <h5>SERVICES</h5>
      <p>WEB</p>
      <p>MOBILE</p>
      <p>DIGITAL MARKETING</p>
      <p>UX/UI</p>
      <p>DEVOPS</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-10 col-xs-12">
      <h5>Follow Us</h5>
      <div class="row justify-content-start twit">
        <div class="col-1 icon">
          <img src="../../../assets/icons/twitter.svg" />
        </div>
        <div class="col-1 icon">
          <img src="../../../assets/icons/linkedin.svg" />
        </div>
        <div class="col-1 icon">
          <img src="../../../assets/icons/instagram.svg" />
        </div>
        <div class="col-1 icon">
          <img src="../../../assets/icons/facebook.svg" />
        </div>
      </div>
      <p style="font-size:18px;text-decoration: underline;">Privacy policy</p>
      <p style="font-size:14px">© Chintakindi Technologies.</p>
      <p style="font-size:14px">All rights reserved.</p>
    </div>
  </div>
</div>
