<div class="process" id="process">
  <div class="row">
    <div class="col-12">
      <h2>Process We Follow</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 para1">
      <p>
        We follow agile process to get things done. Lorem Ipsum is simply dummy
        text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown
        printer took a galley of type and scrambled it to make a type specimen
        book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged.
      </p>
    </div>
  </div>
  <div class="row justify-content-between para mt-3">
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-10">
      <p>
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-10">
      <p>
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-10">
      <p>
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-10">
      <p>
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </p>
    </div>
  </div>
  <div class="row justify-content-around icon no-gutters">
    <div class="col-lg-1 col-md-4 col-sm-6 col-xs-10">
      <img src="../../../assets/icons/talk-i.svg" />
    </div>
    <div class="col-lg-1  col-md-4 col-sm-6 col-xs-10 hex">
      <img src="../../../assets/icons/plan-i.svg" />
    </div>
    <div class="col-lg-1 col-md-4 col-sm-6 col-xs-10">
      <img src="../../../assets/icons/analyse-i.svg" />
    </div>
    <div class="col-lg-1 col-md-4 col-sm-6 col-xs-10 hex">
      <img src="../../../assets/icons/design-i.svg" />
    </div>
    <div class="col-lg-1 col-md-4 col-sm-6 col-xs-10">
      <img src="../../../assets/icons/develop-i.svg" />
    </div>
    <div class="col-lg-1 col-md-4 col-sm-6 col-xs-10 hex">
      <img src="../../../assets/icons/test-i.svg" />
    </div>
    <div class="col-lg-1 col-md-4 col-sm-6 col-xs-10">
      <img src="../../../assets/icons/maintain-i.svg" />
    </div>
  </div>
  <div class="row justify-content-around para  mr-5">
    <div class="col-lg-2 offset-lg-1 col-md-4 col-sm-6 col-xs-10">
      <p>
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </p>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-10">
      <p>
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </p>
    </div>
    <div class="col-lg-2 mr-4 col-md-4 col-sm-6 col-xs-10">
      <p>
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </p>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <img src="../../../assets/icons/rectangle.svg" width="100%" height="4px" />
  </div>
</div>
