<div class="contact" id="contact">
  <div class="row">
    <div class="col">
      <h2>Contact Us</h2>
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-10 col-xs-11">
          <div class="card contain" align="center">
            <h4>
              LETS TALK ABOUT<br />
              YOUR PROJECT
            </h4>
            <form>
              <div class="group">
                <input type="text" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Name*</label>
              </div>

              <div class="group">
                <input type="text" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email*</label>
              </div>
              <div class="group">
                <input type="text" required />
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Mobile</label>
              </div>
              <!-- <input type="text" placeholder="Name*" />
            <input type="email" placeholder="Email*" /> -->
              <!-- <input type="text" placeholder="Mobile" /> -->
              <div class="submit">
                <button type="button">SUBMIT</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
