<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#"
    ><img src="../../../assets/icons/chintec-logo.svg" height="40px"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarSupportedContent"
  >
    <div class="nav justify-content-end">
      <ul class="navbar-nav mr-auto">
        <li class="nav-link">
          <a
            class="nav-item active"
            href="/"
            style="color: #1c6fdf;font-weight: 700;"
            >HOME <span class="sr-only">(current)</span></a
          >
        </li>

        <!-- <li class="nav-item">
          <a
            class="nav-link"
            href="#about"
            style="color: #131415"
            role="button"
          >
            ABOUT
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#service"
            tabindex="-1"
            aria-disabled="true"
            style="color:#131415"
            >SERVICES</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            style="color:#131415"
            >PRODUCTS</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#process"
            tabindex="-1"
            aria-disabled="true"
            style="color:#131415"
            >PROCESS</a
          >
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link"
            href="#contact"
            tabindex="-1"
            aria-disabled="true"
            style="color:#131415;"
            >CONTACT</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
