<div class="services" id="service" style="margin: 30px 20px;">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 text">
      <h2 style="color: #0a75be;">
        SERVICES WE PROVIDE
      </h2>
      <p>
        Chintec offers various IT services and provides applications for
        business needs and growth through specially designed IT audit and
        infrastructure services that helps the client explore the power of
        technology.
      </p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <img src="../../../assets/images/laptop.png" />
        <h5>WEB</h5>
        <p>
          As a web application development company, we go the extra mile to help
          our clients create custom web products with unique features and
          scalability beyond any technological limitation.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <img src="../../../assets/images/iphone.png" />
        <h5>MOBILE</h5>
        <p>
          We are adept in delivering cross-platform apps that help you
          accelerate your time-to-market and reach wider audience without
          compromising quality.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <img src="../../../assets/images/digital-market.png" />
        <h5>DIGITAL MARKETING</h5>
        <p>
          With how accessible the internet is today, would you believe us if we
          told you the number of people who go online every day is still
          increasing?
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <img src="../../../assets/images/woman-in-black-coat.png" />
        <h5>UX UI</h5>
        <p>
          We are the best UX/UI services provider specializing in handcrafting
          beautiful UI / UX designs that meet our client’s vision and goals.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <img src="../../../assets/images/laptop.png" />
        <h5>DEVOPS</h5>
        <p>
          Our Azure DevOps services deploy best practices, a collaborative CI/CD
          toolchain and automation for continuous delivery, in addition to
          leveraging our managed services to address the full spectrum of DevOps
          concerns.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col">
    <img src="../../../assets/icons/rectangle.svg" width="100%" height="4px" />
  </div>
</div>
