/* You can add global styles to this file, and also import other style files */
body,
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
  font-family: "Montserrat-Bold", sans-serif;
}
h5,
h6 {
  font-family: "Montserrat-Bold", sans-serif;
}
p {
  font-family: "Montserrat", sans-serif;
}
